/* Font */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Poppins&display=swap');
@import url('https://cdn.staticaly.com/gh/sh4hids/bangla-web-fonts/9baee0fc23e77fe957c0b70fe49d81d2cbbe87d6/boshonto/stylesheet.css');

/* Common design */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Comfortaa', cursive;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

.main-eng-font {
    font-family: 'Comfortaa', cursive;
    font-family: 'Poppins', sans-serif;
}

/* Reusable class */
.container {
    width: 90%;
    margin: 0 auto;
}

/* Navigation Bar */
.main-header-area {
    background-color: rgb(107, 48, 255);
    padding: 20px 0;
}

.main-header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-header {
    font-size: 30px;
    color: white;
    font-weight: bold;
}

.search-area {
    display: flex;
}

.header-search {
    border: none;
    padding: 14px 20px;
    outline: none;
    width: 600px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.header-search-btn {
    padding: 14px 20px;
    border: none;
    outline: none;
    background-color: rgb(255, 179, 80);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
}

.header-cart {
    color: white;
    font-size: 20px;
    cursor: pointer;
}

nav {
    background-color: rgb(255, 205, 67);
    padding: 10px;
    text-align: center;
}

nav ul li {
    list-style: none;
    display: inline;
}

nav ul li a {
    color: black;
    padding: 10px 15px;
}

nav ul li a:hover {
    background-color: rgb(255, 217, 111);
    padding: 10px 15px;
}

.hero-area {
    background-image: url(images/hero-bg.png);
    background-size: 100% 350px;
    background-repeat: no-repeat;
    width: 100%;
    height: 350px;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}